/* 16. Sort!  */
@import "103-sort_list.scss";

@function list-sort($list) {
    $list: $list_to_sort;
    $sortedlist: ();
    @while length($list) > 0 {
      $value: nth($list,1);
      @each $item in $list {
        @if $item < $value {
          $value: $item;
        }
      }
      $sortedlist: append($sortedlist, $value, 'space');
      $list: list-remove($list, index($list, $value));
    }
    @return "DEBUG: #{$sortedlist}"
  }

:root {
    padding: list-sort($list_to_sort);
}
